{% extends "website/base.html" %}
{% load static %}
{% block container %}
<main class="section-grid">
    <section class="grid-column">
        <div class="left-menu">
            <i class="icofont-plus left-menu-item"
               onclick="openMyModal(event); return false;"
               data-title="ADICIONA TRANSAÇÃO"
               data-action="add_registry"
               data-button-save-label="SALVAR"
               title="Adiciona Transação"></i>
            <i class="icofont-business-man-alt-1 left-menu-item"
               onclick="openMyModal(event); return false;"
               data-title="ADICIONA FAVORECIDO"
               data-action="add_company"
               data-button-save-label="SALVAR"
               title="Adiciona Favorecido"></i>
            <i class="icofont-files-stack left-menu-item"
               onclick="openMyModal(event); return false;"
               data-title="ADICIONA CATEGORIA"
               data-action="add_category"
               data-button-save-label="SALVAR"
               title="Adiciona Categoria"></i>
        </div>
    </section>
    <section class="grid-column">
        <div class="card card...">
        </div>
    </section>
    <section class="grid-column">
        <div class="card card-category-n1">
            {% comment %} {% include "transactions/card_category_n1.html" %} {% endcomment %}
        </div>
        <div class="card card-category-n2-in">
            {% comment %} {% include "transactions/card_category_n2_in.html" %} {% endcomment %}
        </div>
        <div class="card card-category-n2-out">
            {% comment %} {% include "transactions/card_category_n3_in.html" %} {% endcomment %}
        </div>
        <div class="card card-category-n3-in">
            {% comment %} {% include "transactions/card_category_n2_out.html" %} {% endcomment %}
        </div>
        <div class="card card-category-n3-out">
            {% comment %} {% include "transactions/card_category_n3_out.html" %} {% endcomment %}
        </div>
        <div class="card card-registry-itens">
        </div>
    </section>
    <section class="grid-column">
        <div class="card card-registries">
            {% include "transactions/card_registries_period.html" %}
        </div>
        <div class="card card-registries-unpaid">
            {% include "transactions/card_registries_unpaid.html" %}
        </div>
    </section>
</main>
{% endblock container %}
