{% extends "website/base.html" %}
{% load static %}
{% block container %}
<main class="section-grid">
    <section class="grid-column">
        <div class="left-menu">
            <i class="icofont-plus left-menu-item"
               onclick="openMyModal(event); return false;"
               data-title="ADICIONA CONTA"
               data-action="add_account"
               data-button-save-label="SALVAR"
               title="Adiciona Conta"></i>
            <i class="icofont-exchange left-menu-item"
               onclick="openMyModal(event); return false;"
               data-title="TRANSFERÊNCIA ENTRE CONTAS"
               data-action="add_transfer"
               data-button-save-label="SALVAR"
               title="Adiciona Transferência"></i>
        </div>
    </section>
    <section class="grid-column">
        <div class="card card...">
        </div>
    </section>
    <section class="grid-column">
        <div class="card card...">
        </div>
    </section>
    <section class="grid-column">
        <div class="card card-registries">
            {% include "monetary/card_accounts.html" %}
        </div>
    </section>
</main>
{% endblock container %}
